.education {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 12px;
  grid-column: 1;
  grid-row: 1 / 3;
}

.education__title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 16px;
}

.education__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.education__item {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 8px;
  flex: 0 0 116px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: fit-content;
}

.education__header {
  display: flex;
  justify-content: space-between;
}

.education__year {
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 8px;
}

.education__profession {
  font-weight: 500;
  font-size: 10px;
}

.education__item--first {
  background-color: #28d979;
}

.education__hashtags {
  color: #149063;
  font-weight: 400;
  font-size: 8px;
}

.education__hashtags--first {
  color: #ffffff;
}

.education__course {
  font-weight: 400;
  font-size: 8px;
  margin-top: 8px;
}

@media (max-width: 500px) {
  .education {
    margin-bottom: 20px;
  }
}
