.header {
  padding-top: 15px;
  margin-bottom: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__avatar {
  width: 124px;
  height: 124px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 124px;
    height: 124px;
  }
}

@media (max-width: 500px) {
  .header__container {
    flex-wrap: wrap;
  }
}
