.languages {
  background-color: #f0f0f0;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.languages__title {
  font-size: 14px;
  font-weight: 500;
}

.languages__item {
  display: flex;
  align-items: center;
}

.languages__item-name {
  font-size: 10px;
  font-weight: 500;
  flex: 0 0 70px;
}

.languages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.languages__item-progress {
  display: block;
  background-color: #b962ec;
  height: 11px;
  border-radius: 3px;
}

.languages__item-progress--1 {
  width: 100%;
}

.languages__item-progress--2 {
  width: 45%;
}
