*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: 'Poppins', 'Arial', sans-serif;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  max-width: 595px;
  padding: 0 20px;
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  height: 100%;
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.recent {
  color: #ffffff;
}

.download {
  display: block;
  margin: 10px auto 0 auto;
  border-radius: 10px;
  background-color: #b962ec;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

[contenteditable='true'] {
  cursor: pointer;
  transition: scale 0.3s;
  outline: none;
}

[contenteditable='true']:hover {
  transition: scale 0.3s;
  scale: 1.06;
}
